DOMAIN_NAME=example.host.com

# MYSQL SETUP
MYSQL_DATABASE=wordpressexample_db
MYSQL_USER=myuserexample

# WORDPRESS SETUP
WP_SUPERUSER_USER=superuserexample
WP_SUPERUSER_EMAIL=superuserexample@example.com
WP_USER=userexample
WP_USER_EMAIL=userexample@user.com

# PORTS
MYSQL_PORT=3306
PHP_FPM_PORT=9000
NGINX_PORT=443
